/* --------------------------------------------------- FOOTER GENERAL ----------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer
{
    width: 100%;
    background-color: #1D2322;
    margin-top: 70px;
    color: $primarycolor;
    font-size: 25px;
    display: flex;
    align-items: center;
    a
    {
        color: $primarycolor;
        margin: 20px;
    }
        ul
        {
            display: flex;
            font-size: 20px;
            i 
            {
                margin-right: 10px;
            }
        }
                h3 
                {
                    font-family: 'Shrikhand', cursive;
                    margin: 30px;
                }

}

/* --------------------------------------------------- Media queries footer général --------------------------------------------------------------*/

footer
{
    flex-direction: column;
    ul 
    {
        flex-direction: column;
        align-items: flex-start;
    }
        li 
        {
            margin-top: 20px;
        }
}
