.container
{
    background-color: $backcolor;
    border-radius: 48px 48px 0px 0px;
    margin-top: -60px;
    position: relative;
    z-index: 2; 
}

.menu
{
    display: flex;
    section 
    {
        width: 30%;
        margin: 5px auto;
        h3 
        {
            margin-left: 5px;
            font-weight: 400;
            border-bottom: 3px solid $animationcolor;
            padding-bottom: 5px;
            width: 45px; 
        }
        h4 
        {
            margin: 0;
            font-weight: 800;
        }
        p 
        {
            margin: 0;
            font-weight: 400;
        }
    }
    .list_menu
    {
        width: 100%;
        margin: 20px auto;
        background-color: $primarycolor;
        border-radius: 20px 20px 20px 20px ;
        box-shadow: 6px 6px 6px rgb(224 224 224);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        animation-duration: 2s;
        animation-name: slidein;
        animation-fill-mode: both;
        &:hover .fa-check-circle
        {
            transform: rotate(360deg);
            transition-duration: 1.2s; 
        }
        

        .menudescription
        { 
            padding: 20px 0px 20px 20px;
            width: 70%;
            h4 
            {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden; 
            }
                p 
                {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;  
                }        
        }
    
                    .menuprice
                    {
                        font-weight: 600;
                        padding: 0px 20px 20px 0px ;
                    }
    
                        .selectionmenu
                        {
                            background-color: $animationcolor;
                            height: 80px;
                            margin-right: -70px;
                            min-width: 50px;
                            border-radius: 0px 20px 20px 0px ;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .fa-check-circle
                            {
                                color: $primarycolor;
                                font-size: 26px;
                            }
                        }
    }
}

    @keyframes slidein{
        0% {
            transform: translateY(50%);
            opacity: 0;
        }
    
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    
        .animation_2
        {
            animation-delay: 200ms;
        }
    
        .animation_3
        {
            animation-delay: 400ms;
        }
    
        .animation_4
        {
            animation-delay: 600ms;
        } 
    
    
    .list_menu:hover .selectionmenu
    {
        margin-right: 0;   
        transition-duration: 0.2s;    
    }
    

/*--------------------------------------------------- Media queries menu restaurants ----------------------------------------------------------------------------*/

@media screen and (max-width: 1050px)
{   
    .menu
    {
        flex-direction: column;
        section 
        {
            width: 90%;
        }
            .menudescription
            {
                width: 90%;
            }
    }
    
}

@media screen and (max-width: 520px)
{
    .menu
    {
        .menudescription
        {
            width: 70%;
        }
    }    
}

@media screen and (max-width: 830px)
{
    section 
    {
        ol
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;   
        }
             li
            {
                width: 100%;
                margin: 10px 30px
            }
    }
}

@media screen and (max-width: 380px)
{
    .container
    {
        .title
        {
            font-size: 14px;
        }
    }
}