/* ---------------------------------------------------------------------------GENERAL---------------------------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------------------------------------------------------ */


   *
   {
       box-sizing: border-box;
       transition: all 300ms ease;
   }
   
   body
   {
       margin: 0px;
       padding: 0px;
       font-family: 'Roboto', sans-serif;
   }
   
   a
   {
       color: #000;
       text-decoration: none;
   }
   
   li
   {
       list-style: none;
   }

$primarycolor: linear-gradient(174deg, #FF79DA 0%, #9356DC 90%);
@import './layout/loader';
@import './layout/header_principal';
@import './layout/header_secondaire';
@import './layout/footer';
@import './Components/menu_img';


   
#header_principal
{
    box-shadow:   0px 0px 15px #959DA5;
    padding: 1px;
    position: relative;
    z-index: 900;  
    h1
    {
        font-family: 'Shrikhand', cursive;
        text-align: center;
        font-size: 30px;
    }
}


/* ------------------------------------------------------------------ HEADER ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------*/

.location
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1EDED;
    padding: 15px;
    font-size: 12px;
    i
    {
        font-size: 20px;
        margin-right: 15px;
    }
}
           
.exploration
{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2
    {
        margin-top: 60px;
        font-size: 32px;
    }    
        p
        {
            margin: 0 auto;
            font-size: 20px;
        }            
            a
            {
                text-decoration: none;
                color: #fff;
                padding: 20px 30px;
                margin: 50px auto;
                background-image: $primarycolor;
                border-radius: 32px;
                font-weight: 500;
                box-shadow: 2px 1px 16px #ada6a6;
                &:hover
                {                    
                    transform: scale(1.1);
                }
            }        
}

/* --------------------------------------------------- Section Exploration ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------*/

.functioning
{    
    counter-reset: numbers;
    margin-top: 70px;
        h2
        {
            margin-left: 25px;
            font-size: 30px;
        }
            ol
            {
                margin: 0px 0px 70px -30px;   
                display: flex;
                justify-content: space-between;
            }    
                li
                {
                    background-color: #f7f7f7;
                    border-radius: 20px;
                    margin: 30px;
                    padding: 18px;
                    width: 29%; 
                    box-shadow: 0 5px 15px grey;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 17px;
                    font-weight: 500;                    
                    &:hover i
                        {
                            transform: scale(1.1);
                            color: #9356dc;
                        }                    
                            &::before
                            {
                                list-style: none;
                                content: counter(numbers);
                                counter-increment: numbers;
                                color: #fff;
                                background-color: #9356dc;
                                border-radius: 20px;
                                height: 35px;
                                width: 35px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                left: -35px;
                            }    
                                &:hover
                                {   
                                    background-color: #ff79da21;
                                }
                                    p
                                    {
                                        margin-left: 15px;
                                    }
                }        
                                        i
                                        {
                                            font-size: 25px;
                                            margin-left: -15px;
                                        }
                   
}

/* --------------------------------------------------- Section Functioning ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------*/

.restaurants
{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h2
    {
        padding: 60px 0 15px 0;
        font-size: 30px;
        margin-left: 25px;
        width: 100%;
    }   
        .photos
        {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
            .element
            {
                width: 45%;
                background-color: #fff;
                margin: 20px ;
                border-radius: 20px;
                box-shadow: 2px 1px 16px #ada6a6;
                position: relative;
                &:hover
                {
                    transform: scale(1.1);
                }
                    .section_restaurants_news
                    {
                        background-color: #99e2d0;
                        border-radius: 5px;
                        color: #1f997c;
                        font-weight: 500;
                        padding: 8px;
                        position: absolute;
                        right: 20px;
                        top: 20px;  
                        animation-duration: 1.2s;
                        animation-name: flash;
                        animation-iteration-count: infinite;
                        transition: none;
                    }
                        @keyframes flash
                            {
                                0%{opacity: 1;}
                                40%{opacity: 0;}
                                100%{opacity: 1;}
                            }    
                                h3
                                {
                                    margin: 5px 0 0 10px;
                                }
                                    p
                                    {
                                        margin: 5px 0 5px 10px;
                                    }
                                        i
                                        {
                                            font-size: 35px;
                                        }
                                            .heart
                                            {
                                                height: 5px;
                                                .fa-heart
                                                {
                                                    width: 30px;
                                                }
                                                .far
                                                {
                                                    position: relative;
                                                    font-size: 24px;
                                                    margin-left: 85%;
                                                    bottom: 41px;
                                                }
                                                    .fas
                                                    {
                                                        position: relative;
                                                        font-size: 24px;
                                                        margin-left: 85%;
                                                        bottom: 66px;
                                                        background-image: $primarycolor;
                                                        color: transparent;
                                                        -webkit-background-clip: text;
                                                        opacity: 0;
                                                        &:hover
                                                            {
                                                                opacity: 1;
                                                            }
                                                    }
                                            }
            }
        
}


/* --------------------------------------------------- Media queries ---------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 830px)
{
    .functioning
    {
       ol 
       {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
       }
       li
       {
        width: 100%;
        margin: 10px 30px
       }
    }
    
    .restaurants
    {
        .element
        {
            width: 100%;
        }
    }

    


  
}


